.Main--stock_img {
    margin-bottom: 74px;
}

.Main--delivery_info {
    width: 1200px;
    margin: 0 auto;
    text-align: start;

    h1 {
        font-size: 64px;
        line-height: 78px;
    }

    ul {
        font-size: 36px;
        line-height: 44px;
        margin: 0;
    }
}

.Main--items {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Main--order_methods {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
}

.Main--order_time {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 38px;
}

//For tablets 1000px

@media screen and (max-width: 1050px) {
    .Main--delivery_info {
        width: 936px;
        margin-bottom: 108px;

        .Main--order_methods {
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 34px;
        }

        .Main--order_time {
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 34px;
        }

        ul {
            margin: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 34px;
        }
    }

    .Main--stock_img {
        width: 936px;
        height: 489px;
    }

    .Main--items {
        width: 936px;
        margin: 0 auto;
    }
}

// For mobile 768px

@media screen and (max-width: 780px) {
    .Main--stock_img {
        width: 693px;
        height: 350px;
    }

    .Main--delivery_info {
        width: 693px;
    }

    .Main--items {
        width: 693px;
    }
}

// For mobile 320

@media screen and (max-width: 414px) {
    .Main--stock_img {
        width: 290px;
        height: 146px;
        border-radius: 20px;
        margin-bottom: 35px;
    }

    .Main--items {
        width: 290px;
    }

    .Main--delivery_info {
        width: 290px;

        .Main--order_time,
        .Main--order_methods,
        ul {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
