.Footer--wrapper {
    width: 100%;
    height: 284px;
    padding-top: 141px;
    background: linear-gradient(180deg, rgba(255, 200, 4, 0) 0%, #ffc804 36.46%);

    p {
        margin: 0;
    }
}

.Footer--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 114px;
}

.Footer--mail {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.1em;
}

.Footer--phone {
    font-size: 36px;
    line-height: 44px;
}

.Footer--copyright {
    display: flex;
    align-items: flex-start;
    width: 1200px;
    margin: 0 auto;

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
    }
}

.Footer--mail--mobile {
    display: none;
}

.Footer--time--mobile {
    display: none;
}

@media screen and (max-width: 1050px) {
    .Footer--content {
        width: 936px;
        margin-bottom: 114px;

        a {
            font-size: 36px;
            line-height: 44px;
        }
    }

    .Footer--phone {
        position: relative;
        top: 25px;
    }

    .Footer--copyright {
        width: 936px;
    }
}

// For mobile 768px

@media screen and (max-width: 780px) {
    .Footer--content {
        width: 694px;

        img {
            width: 215px;
            height: 65px;
        }

        a {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .Footer--phone {
        position: relative;
        top: 8px;
        font-size: 24px;
        line-height: 29px;
    }

    .Footer--copyright {
        width: 694px;
        margin: 0 auto;

        p {
            font-size: 24px;
            line-height: 29px;
        }
    }
}

// For mobile 320

@media screen and (max-width: 414px) {
    .Footer--wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 165px;
        padding: 0;
    }

    .Footer--logoWrapper {
        display: flex;
        flex-direction: column;
    }

    .Footer--content {
        width: 290px;
        margin-bottom: 0;

        img {
            width: 133px;
            height: 39px;
        }
    }

    .Footer--mail {
        display: none;
    }

    .Footer--mail--mobile {
        display: block;
        position: relative;
        bottom: 5px;
    }

    .Footer--time--mobile {
        position: relative;
        top: 5px;
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    }

    .Footer--phone {
        top: 0;

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 0;
        }
    }

    .Footer--phoneTwo {
        position: relative;
        bottom: 14px;
    }

    .Footer--copyright {
        width: 290px;
        position: relative;
        top: 24px;

        p {
            font-size: 13px;
            line-height: 16px;
        }
    }
}
